#mes{
	position: absolute;
	top: 0px;
	left:220px;
	overflow-y:auto;
	height: 81vh;
	width:83.89vw;
}

#hello{
	text-align: center;
	width: 200px;
	border-radius: 10px;
	margin: 10px;
}
#zag{
	margin:-10px;
}


#vodiv{
	position: absolute;
	bottom: 0px;
	left:220px;
	width:82.5vw;
	border-radius: 10px;

}

#buttoninput{
	position: absolute;
	right: 13px;
	width:135px;
	height:51px;
	border-radius: 10px;
}
#input{
	width: 68vw;
}
/*
.as{
	background: white;
	border: 2px solid black;
	border-radius: 10px;
	outline: none;
	resize: none;
	width: 68vw;
	height: 51px;
}*/

